.THIS .slds-button_brand .slds-icon-text-default {
  fill: rgb(255, 255, 255);
}
.THIS .slds-path__scroller_inner .slds-icon-text-default {
  fill: rgb(255, 255, 255);
}

.THIS .text-alteration .slds-icon-text-default {
  fill: rgb(255, 255, 255);
}

.THIS .panel-display-none {
  display: none !important;
}

.THIS .fixedHeight {
  min-height: 415px;
}

.THIS .icon_color_black {
  fill: rgb(112, 110, 107) !important;
}

.THIS .icon_color_black .slds-icon-text-default {
  fill: rgb(112, 110, 107) !important;
}

.THIS textarea {
  overflow: hidden;
}

.THIS .customColor {
  display: inline-block;
  border-radius: .25rem;
  background: #89c059 !important;
  padding: 5px !important;
}

.THIS .customColor .slds-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}

.THIS .customGreen {
  background: #89c059;
  padding: 4px 7px 7px;
}

.THIS .customGreen .slds-icon-text-default {
  fill: rgb(255, 255, 255);
}

.THIS .customGreen .slds-icon {
  width: 1.2rem;
  height: 1.2rem;
  fill: rgb(230, 230, 230);
}

.THIS .overllappingElement {
  position: relative;
}

.THIS .overllappingElement .slds-form-element.lightningInput {
  position: absolute;
  width: 100%;
}

.THIS .overllappingElement .slds-form_compound {
  position: absolute;
  right: 10px;
  top: 25px;
}